<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% for (var css in htmlWebpackPlugin.files.css) { %>
        <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" />
    <% } %>
</head>

<body>
<section class="wrapper">
    <div id="workspace"></div>
</section>

<!--Jquery -->
<script src="https://playentry.org/lib/jquery/jquery.min.js"></script>
<script src="https://playentry.org/lib/jquery-ui/ui/minified/jquery-ui.min.js"></script>

<!--underscore -->
<script src="https://playentry.org/lib/underscore/underscore.js"></script>

<!--canvas input-->
<script src="https://playentry.org/lib/entryjs/extern/util/CanvasInput.js"></script>

<!--Blockly-->
<script src="https://playentry.org/lib/entryjs/extern/blockly/blockly_compressed.js"></script>
<script src="https://playentry.org/lib/entryjs/extern/blockly/msg/js/ko.js"></script>

<!--react-->
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script
        crossorigin
        src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"
></script>

<!--createjs-->
<script src="https://playentry.org/lib/PreloadJS/lib/preloadjs-0.6.0.min.js"></script>
<script src="https://playentry.org/lib/EaselJS/lib/easeljs-0.8.0.min.js"></script>
<script src="https://playentry.org/lib/SoundJS/lib/soundjs-0.6.0.min.js"></script>
<script src="https://playentry.org/lib/SoundJS/lib/flashaudioplugin-0.6.0.min.js"></script>
<script src="https://playentry.org/lib/entryjs/extern/util/ndgmr.Collision.js"></script>
<script src="https://playentry.org/lib/entryjs/extern/util/handle.js"></script>

<!--bignumber-->
<script src="https://playentry.org/lib/entryjs/extern/util/bignumber.min.js"></script>

<!--language-->
<script src="../extern/lang/ko.js"></script>

<!--socket.io-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.js"></script>

<!--codemirror-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.23.0/codemirror.js"></script>

<!--pixi-->
<script src="https://pixijs.download/v4.8.5/pixi.min.js"/>

<!--entryjs-->
<script src="https://playentry.org/lib/components-webfontloader/webfont.js"></script>
<script src="../extern/util/static.js"></script>
<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>
<!--main script-->
<script>
    window.PUBLIC_PATH_FOR_ENTRYJS = 'lib/entry-js/dist/';
    $(document).ready(function() {
        var initOption = {
            type: 'workspace',
            useWebGL: '1',
        };
        Entry.init(document.getElementById('workspace'), initOption);
        Entry.enableArduino();
        Entry.loadProject();
    });
</script>
</body>
</html>
