<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
        />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <% for (var css in htmlWebpackPlugin.files.css) { %>
        <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" />
        <% } %>
        <link href="https://playentry.org/lib/entry-tool/dist/entry-tool.css" rel="stylesheet" />
        <link href="https://playentry.org/lib/entry-lms/dist/assets/app.css" rel="stylesheet" />
    </head>

    <body>
        <section style="height: 42px;">
            <input type="file" id="litemodule" />
            <input type="text" id="litemodulename" />
            <button style="border: 1px solid black" onclick="handleUpdate()">
                apply
            </button>
            <button style="border: 1px solid black" onclick="changeWorkspaceMode('block')">
                Block Mode
            </button>
            <button style="border: 1px solid black" onclick="changeWorkspaceMode('python')">
                Python Mode
            </button>
        </section>
        <div id="workspace"></div>

        <!--language-->
        <script src="../extern/lang/ko.js"></script>

        <script
            type="text/javascript"
            src="https://playentry.org/lib/PreloadJS/lib/preloadjs-0.6.0.min.js"
        ></script>
        <script
            type="text/javascript"
            src="https://playentry.org/lib/EaselJS/lib/easeljs-0.8.0.min.js"
        ></script>
        <script
            type="text/javascript"
            src="https://playentry.org/lib/SoundJS/lib/soundjs-0.6.0.min.js"
        ></script>
        <script
            type="text/javascript"
            src="https://playentry.org/lib/SoundJS/lib/flashaudioplugin-0.6.0.min.js"
        ></script>
        <script
            type="text/javascript"
            src="https://playentry.org/lib/lodash/dist/lodash.min.js"
        ></script>
        <script
            type="text/javascript"
            src="https://playentry.org/lib/jquery/jquery.min.js"
        ></script>
        <script
            type="text/javascript"
            src="https://playentry.org/lib/jquery-ui/ui/minified/jquery-ui.min.js"
        ></script>
        <script
            type="text/javascript"
            src="https://playentry.org/lib/velocity/velocity.min.js"
        ></script>
        <script
            type="text/javascript"
            src="https://playentry.org/lib/codemirror/lib/codemirror.js"
        ></script>
        <script
            type="text/javascript"
            src="https://playentry.org/lib/codemirror/addon/hint/show-hint.js"
        ></script>
        <script
            type="text/javascript"
            src="https://playentry.org/lib/codemirror/addon/lint/lint.js"
        ></script>
        <script
            type="text/javascript"
            src="https://playentry.org/lib/codemirror/addon/selection/active-line.js"
        ></script>
        <script
            type="text/javascript"
            src="https://playentry.org/lib/codemirror/mode/javascript/javascript.js"
        ></script>
        <script
            type="text/javascript"
            src="https://playentry.org/lib/codemirror/addon/hint/javascript-hint.js"
        ></script>
        <script type="text/javascript" src="https://playentry.org/js/jshint.js"></script>
        <script type="text/javascript" src="https://playentry.org/lib/fuzzy/lib/fuzzy.js"></script>
        <script type="text/javascript" src="https://playentry.org/js/ws/python.js"></script>
        <script
            type="text/javascript"
            src="https://playentry.org/lib/entry-js/extern/util/filbert.js"
        ></script>
        <script
            type="text/javascript"
            src="https://playentry.org/lib/entry-js/extern/util/CanvasInput.js"
        ></script>
        <script
            type="text/javascript"
            src="https://playentry.org/lib/entry-js/extern/util/ndgmr.Collision.js"
        ></script>
        <script
            type="text/javascript"
            src="https://playentry.org/lib/entry-js/extern/util/handle.js"
        ></script>
        <script
            type="text/javascript"
            src="https://playentry.org/lib/entry-js/extern/util/bignumber.min.js"
        ></script>
        <script
            type="text/javascript"
            src="https://playentry.org/lib/socket.io-client/socket.io.js"
        ></script>
        <script type="text/javascript" src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
        <script type="text/javascript" src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
        <script
            type="text/javascript"
            src="https://playentry.org/lib/entry-lms/dist/assets/app.js"
        ></script>
        <script src="../extern/util/static.js"></script>
        <script
            type="text/javascript"
            src="https://playentry.org/lib/entry-tool/dist/entry-tool.js"
        ></script>
        <script
            type="text/javascript"
            src="https://playentry.org/lib/entry-paint/dist/static/js/entry-paint.js"
        ></script>
        <script
            type="text/javascript"
            src="https://entry-cdn.pstatic.net/external/sound/sound-editor.js?v=240130-174210"
        ></script>

        <% for (var chunk in htmlWebpackPlugin.files.js) { %>
        <script src="<%= htmlWebpackPlugin.files.js[chunk] %>"></script>
        <% } %>

        <script>
            function handleUpdate() {
                const file = document.getElementById('litemodule').files[0];
                const name = document.getElementById('litemodulename').value;
                Entry.loadLiteTestModule(file, name);
            }

            function changeWorkspaceMode(mode) {
                const option = {};

                if (mode === 'block') {
                    option.boardType = Entry.Workspace.MODE_BOARD;
                    option.textType = -1;
                } else {
                    option.boardType = Entry.Workspace.MODE_VIMBOARD;
                    option.textType = Entry.Vim.TEXT_TYPE_PY;
                    option.runType = Entry.Vim.WORKSPACE_MODE;
                }

                const workspace = Entry.getMainWS();

                if (workspace) {
                    workspace.setMode(option);
                } else {
                    console.error('entry workspace not found!');
                }
            }
        </script>
        <!--main script-->
        <script>
            window.PUBLIC_PATH_FOR_ENTRYJS = 'lib/entry-js/dist/';
            $(document).ready(function() {
                var initOption = {
                    type: 'workspace',
                    textCodingEnable: true,
                };
                Entry.creationChangedEvent = new Entry.Event(window);
                Entry.init(document.getElementById('workspace'), initOption);
                Entry.loadProject();
            });
        </script>
    </body>
</html>
