{
    "presets": ["es2017", "env"],
    "plugins": ["transform-runtime", "transform-object-assign", "syntax-dynamic-import", "transform-object-rest-spread", "transform-class-properties"],
    "env": {
        "test": {
            "plugins": ["dynamic-import-node"]
        }
    }
}
