{
    "presets": ["es2017", "env"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "@core": "./src/core",
                    "@util": "./src/util"
                }
            }
        ],
        "transform-runtime",
        "transform-object-assign",
        "syntax-dynamic-import"
    ],
    "env": {
        "test": {
            "plugins": ["dynamic-import-node"]
        }
    }
}
