.entryContainerWorkspace {
    height: 100%;
    background-color: #fff;

    .simplebar-scrollbar {
        right: 4px;
        width: 8px;
        &::before {
            opacity: 1 !important;
            background-color: #aac5d5;
            border-radius: 2.5px;
        }
    }
}

.entryContainerPhone {
    width: 100%;
    background-color: #fff;
}

.entryAddObjectWorkspace {
    display: block;
    height: 48px;
    background-color: #e7e7e7;
    color: #757575;
    text-align: center;
    font-size: 11pt;
    line-height: 44px;
    margin: 10px;
    border: 2px dashed #979797;
    cursor: pointer;
}

.entryContainerListWorkspaceWrapper {
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
    // overflow: auto;
    width: 100%;
    top: 0;
    background-color: #fff;
}

.entryContainerExtensions {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #363c46;
    list-style-type: none;
}

.entryContainerListWorkspace {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    list-style-type: none;

    .sortableWidget {
        height: 100%;
    }
}

.entryContainerListPhone {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #363c46;
    list-style-type: none;
    border-top: 1pt solid #ebeff1;
}

.entryContainerListWorkspace::-webkit-scrollbar {
    display: none;
}

.entryContainerListElementWorkspace {
    background-color: #ecf8ff;
    display: block;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
    cursor: move;
    min-height: 60px;
    .box-sizing(border-box);
    border-top: 1px solid #d6e9f4;
}

.entryContainerListElementWorkspace.selectedObject {
    background-color: #fff;
    height: 206px;
}

.collapsed .selectedObject {
    height: 149px;
}

.entryContainerListElementWorkspace:first-child,
.entryContainerListElementWorkspace.selectedObject + .entryContainerListElementWorkspace {
    border-top: 0;
}

.objectInfoView {
    list-style: none;
    padding: 0;
    height: 60px;
    width: 18px;
    position: relative;
    margin-left: 8px;
    float: left;
}

.objectInfo_visible {
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 0;
    height: 18px;
    width: 18px;
    cursor: pointer;
    .box-sizing(border-box);
    background-size: 18px auto;
    .backgroundImage('layers_icon_visible.png');
}

.objectInfo_unvisible {
    .backgroundImage('layers_icon_unvisible.png');
}

.objectInfo_unlock {
    display: inline-block;
    position: absolute;
    top: 34px;
    left: 0;
    height: 18px;
    width: 18px;
    .backgroundImage('layers_icon_unlock.png');
    cursor: pointer;
    .box-sizing(border-box);
}

.objectInfo_lock {
    .backgroundImage('layers_icon_lock.png');
}

.entryObjectThumbnailWorkspace {
    overflow: hidden;
    position: absolute;
    top: 8px;
    left: 34px;
    height: 44px;
    width: 40px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.entryObjectWrapperWorkspace {
    overflow: hidden;
    position: relative;
    margin: 18px 0 0 82px;
    padding-right: 16px;
}

.entryObjectNameWorkspace {
    overflow: hidden;
    float: left;
    box-sizing: border-box;
    width: 100%;
    padding: 7px 4px 6px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    background-color: #fff;
    border: none;
    font-size: 10px;
    font-weight: 600;
    color: #2c313d;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 11px;
}
.entryObjectNameWorkspace:focus,
.entryObjectNameWorkspace:active {
    border-color: #4f80ff;
}
.editButtonToggle {
    display: block;
}
.editButtonToggle_ {
    display: none;
}

.selectedEditingObject {
    background-color: white !important;
    border-radius: 4px;
    border: 1px solid #e2e2e2 !important;
    outline: none;
}

.selectedNotEditionObject {
    background-color: transparent;
}

.selectedNotEditionObject:hover {
    background-color: transparent;
}

.selectedNotEditionObject:focus {
    background-color: transparent !important;
}
/*sj*/

.selectedObject > .entryObjectWrapperWorkspace > .entryObjectNameWorkspace {
    color: #2c313d;
    font-family: NanumGothic !important;
}

.entryObjectNameWorkspace:disabled {
    background-color: transparent;
}

.entryObjectDeleteWorkspace {
    overflow: hidden;
    position: absolute;
    right: 26px;
    top: 18px;
    width: 24px;
    height: 24px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    background-size: 10px auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    .backgroundImage('layers_icon_close_nor_new.png');
}

.entryObjectDeletePhone {
    float: left;
    position: absolute;
    width: 16px;
    height: 16px;
    right: 57px;
    top: 25px;
    cursor: pointer;
    .backgroundImage('layers_icon_close_nor.png');
}

.entryObjectEditPhone {
    position: absolute;
    width: 24px;
    background-repeat: no-repeat;
    height: 21px;
    right: 17px;
    background-color: transparent;
    border: none;
    top: 21px;
    cursor: pointer;
    .backgroundImage('glyphicons_150_edit.png');
}

.entryObjectSelectedImgWorkspace {
    position: absolute;
    width: 16px;
    right: 0;
    top: 45px;
    bottom: 0;
    cursor: col-resize;
    .backgroundImage('entry_scroll.png');
    background-repeat: no-repeat;
    background-size: 6px auto;
    background-position: 50% 50%;
    z-index: 250;
}

.selectedObject .entryObjectSelectedImgWorkspace {
    position: absolute;
    width: 14px;
    height: 26px;
    right: 0;
    top: 20px;
    cursor: col-resize;
    .backgroundImage('entry_scroll.png');
}

.entryObjectCoordinateWorkspace {
    display: block;
    font-size: 10px;
    font-weight: 600;
    color: #2c313d;
    letter-spacing: -0.4px;
    width: auto;
}

.selectedObject > .entryObjectWrapperWorkspace > .entryObjectCoordinateWorkspace {
    color: black;
}

.entryObjectInformationWorkspace {
    position: absolute;
    right: 0;
    top: 9px;
    width: 8px;
    height: 6px;
    background-size: 8px auto;
    cursor: pointer;
    .backgroundImage('layers_arrow_down_nor.png');
}

.selectedObject .entryObjectInformationWorkspace {
    .backgroundImage('layers_arrow_up_nor.png');
}

.informationToggle > .entryObjectWrapperWorkspace > .entryObjectInformationWorkspace {
    .backgroundImage('layers_arrow_down_nor_1.png');
}

.entryObjectButtonWorkspace {
    display: none;
    float: right;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #bcc3c9;
    border-radius: 50%;
    margin: 10px 10px 10px 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-position: 50% 35%;
    color: white;
    font-size: 7.5pt;
    padding: 23px 0 0 0;
    text-align: center;
    outline: none;
    border: none;
}

.informationToggle > .entryObjectButtonWorkspace {
    display: none;
}

.entryObjectSoundWorkspace {
    .backgroundImage('icon_sound.png');
    background-color: #6a9a1f;
}

.entryObjectSoundWorkspace:hover {
    background-color: #83af3d;
}

.entryObjectPictureWorkspace {
    .backgroundImage('icon_picture.png');
    background-color: #f26724;
}

.entryObjectPictureWorkspace:hover {
    background-color: #f3783c;
}

.entryObjectCodeWorkspace {
    .backgroundImage('icon_code.png');
    background-color: #00ace9;
}

.entryObjectCodeWorkspace:hover {
    background-color: #5fc8ee;
}

.entryObjectTextWorkspace {
    .backgroundImage('text_icon_white.png');
    background-color: #f3bb1d;
    background-position: 50% 20%;
    background-size: 75%;
}

.entryObjectRotationWrapperWorkspace {
    position: relative;
    display: none;
    width: 100%;
    padding: 18px 8px 7px;
    border-top: 1px solid #d6e9f4;
    background-color: #d6e9f4;
    clear: both;
}

.collapsed .entryObjectRotationWrapperWorkspace {
    height: 90px;
}

.selectedObject .entryObjectRotationWrapperWorkspace {
    display: inline-block;
}

.informationToggle > .entryObjectRotationWrapperWorkspace {
    display: inline-block;
}

.rotationMethodWrapper {
    margin-top: 16px;
    padding-top: 7px;
    border-top: 1px solid #fff;
}

.collapsed .rotationMethodWrapper {
    float: left;
}

.entryObjectRotateMethodLabelWorkspace {
    display: inline-block;
    margin-top: 2px;
    font-size: 10px;
    font-weight: 600;
    color: #2c313d;
    vertical-align: top;
}

.entryObjectRotateLabelWrapperWorkspace {
    margin-top: 16px;
    font-size: 10px;
    font-weight: 600;
    color: #2c313d;
}

.entryObjectRotateInputWorkspace,
.entryObjectDirectionInputWorkspace {
    width: 48px;
    height: 24px;
    box-sizing: border-box;
    margin-left: 8px;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 600;
    color: #2c313d;
    letter-spacing: -0.4px;
    text-align: center;
}
.entryObjectRotateInputWorkspace:focus,
.entryObjectRotateInputWorkspace:active,
.entryObjectDirectionInputWorkspace:focus,
.entryObjectDirectionInputWorkspace:active {
    border-color: #4f80ff;
}

.entryObjectDirectionSpanWorkspace,
.entryObjectRotateSpanWorkspace {
    display: inline-block;
    margin: 2px 0 0 12px;
    vertical-align: top;
}
.entryObjectRotateSpanWorkspace {
    margin-left: 0;
}

.entryObjectRotateModeWorkspace {
    cursor: pointer;
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: top;
    background-size: 30px auto;
}

.propertyTabhelper {
    .backgroundImage('property/helper_off.png');
}

.propertyTabhelper.selected {
    .backgroundImage('property/helper_on.png');

    .practical_course_mode & {
        .backgroundImage('property/helper_on_practical_course.png');
    }
}

.propertyTabhint {
    .backgroundImage('property/hint_off.png');
}

.propertyTabhint.selected {
    .backgroundImage('property/hint_on.png');
}

.propertyTabContainer {
    .backgroundImage('property/container_off.png');
}
.propertyTabContainer.selected {
    .backgroundImage('property/container_on.png');
}
.entryObjectRotateModeAWorkspace {
    margin-left: 80px;
    .backgroundImage('layers_icon_rotate01_nor.png');
}

.entryObjectRotateModeAWorkspace.selected {
    .backgroundImage('layers_icon_rotate01_sel.png');
}

.entryObjectRotateModeBWorkspace {
    .backgroundImage('layers_icon_rotate02_nor.png');
}

.entryObjectRotateModeBWorkspace.selected {
    .backgroundImage('layers_icon_rotate02_sel.png');
}

.entryObjectRotateModeCWorkspace {
    .backgroundImage('layers_icon_rotate03_nor.png');
}

.entryObjectRotateModeCWorkspace.selected {
    .backgroundImage('layers_icon_rotate03_sel.png');
}

.entryContainerTabViewWorkspace {
    width: 100%;
    height: 45px;
    border-bottom: 2px solid #1bafea;
}

.entryContainerTabItemWorkspace {
    vertical-align: top;
    height: 100%;
    width: 25%;
    text-align: center;
    display: inline-block;
    background-color: rgb(229, 229, 229);
    color: rgb(158, 159, 159);
    font-size: 13px;
    cursor: pointer;
    padding-top: 13px;
}

.entryContainerTabItemWorkspace:nth-child(2) {
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.entryContainerTabItemWorkspace:nth-child(3) {
    border-right: 2px solid white;
}

.entryContainerTabItemWorkspace.selected {
    background-color: #1bafea;
    color: white;
}

.entryContainerMovieWorkspace {
    /*
    position: absolute;
    width: 100%;
    top: 45px;
    bottom: 0px;

    z-index: 1000;
*/
    position: absolute;
    background-color: #363c46;
    top: 0px;
    width: 100%;
    overflow: scroll;
}
.entryContainerMovieWorkspace::-webkit-scrollbar {
    display: none;
}

.entryContainerDoneWorkspace {
    position: absolute;
    width: 100%;
    top: 0px;
    background-color: #363c46;
    overflow: hidden;
    text-align: center;
}

.entryContainerHelperWorkspace {
    position: absolute;
    width: 100%;
    top: 45px;
    bottom: 0;
    background-color: #fff;
    z-index: 1000;
    background: gray;
}

.tablet {
    .entryContainerListElementWorkspace.selectedObject {
        height: 128px;
    }

    .collapsed .selectedObject {
        height: 159px;
    }
}
