.entryPopup {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 7000;
    background-color: rgba(0, 0, 0, 0.2);
}

.entryPopupWindow {
    width: 80%;
    height: 80%;
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    /*overflow: hidden;*/
    z-index: 8000;
    background-color: @white;
}

.hiddenPopup {
    display: none;    
}

.entryPopupHelperWindow {
    
}

.entryPopupHelperWindow .entryPopupHelperCloseButton{
    width: 13px;
    height: 13px;
    position: absolute;
    right: 10px;
    top: 10px;
    background-image: url('../images/popup/x_btn.png');
    cursor: pointer;
}

.entryPopupHelperWindow.operationPopupWindow {
    width: 840px;
    height: 690px;
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    z-index: 8000;
    background-color: @white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.operationPopupWindow .entryPopupHelperTitle {
    width: 100%;
    height: 60px;
    background-color: @titleBack;
    font-weight: bold;
    font-size: 20px;
    line-height: 60px;
    padding-left: 32px;
    color: @white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.operationPopupWindow .entryPopupHelperStep {
    background: @stepBack;
    height: 36px;
    width: 122px;
    margin-left: 32px;
    margin-top: 20px;
    line-height: 36px;
    padding: 0 29px;
    color: @white;
    border: solid 1px @stepBorder;
    border-radius: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;
}

.operationPopupWindow .entryPopupHelperLeft {
    display: none;
    width: 62px;    
    height: 62px;
    background-image: url("../images/popup/left_btn.png");
    position: absolute;     
    margin-left: 25px;
    margin-top: 193px;
    cursor: pointer;
    z-index: 1;
}

.operationPopupWindow .entryPopupHelperLeft.show {
    display: block;
}

.operationPopupWindow .entryPopupHelperLeft:active,
.operationPopupWindow .entryPopupHelperLeft:hover {
    background-image: url("../images/popup/left_btn_on.png");
}

.operationPopupWindow .entryPopupHelperRight {
    display: none;
    right: 0;
    width: 62px;
    height: 62px;
    background-image: url("../images/popup/right_btn.png");
    position: absolute;     
    margin-right: 25px;
    margin-top: 193px;
    cursor: pointer;
    z-index: 1;
}

.operationPopupWindow .entryPopupHelperRight.show {
    display: block;
}

.operationPopupWindow .entryPopupHelperRight:active,
.operationPopupWindow .entryPopupHelperRight:hover {
    background-image: url("../images/popup/right_btn_on.png");
}

.operationPopupWindow .entryPopupHelperView {
    position: absolute;
    bottom: 30px;
    left: 34px;
    font-size: 17px;
    padding: 24px 150px 0 19px;
    color: @viewText;
}

.operationPopupWindow .entryPopupHelperView .text_shadow{
    background-color: @viewShadow;
    padding: 3px 1px 0;
}

.operationPopupWindow .entryPopupHelperView .text_underline{
    border-bottom: @viewUnder solid 3px;
}

.operationPopupWindow .entryPopupHelperView .text_badge {
    margin-right: 30px;
    margin-left: 3px;
}

.number_before {
    position: absolute;
    margin-top: -4px;
}

.operationPopupWindow .entryPopupHelperView .number_1:before{
    content: url('../images/popup/number_1_r.png');
    .number_before;
}

.operationPopupWindow .entryPopupHelperView .number_2:before{
    content: url('../images/popup/number_2_r.png');
    .number_before;
}

.operationPopupWindow .entryPopupHelperView .number_3:before{
    content: url('../images/popup/number_3_r.png');
    .number_before;
}

.operationPopupWindow .entryPopupHelperView.descStyle1 {
    width: 771px;
    height: 155px;
    background: url('../images/popup/txt_1.png');
}

.operationPopupWindow .entryPopupHelperView.descStyle2 {
    width: 771px;
    height: 175px;
    background: url('../images/popup/txt_2.png');
}

.operationPopupWindow .entryPopupHelperView.descStyle3 {
    width: 771px;
    height: 226px;
    background: url('../images/popup/txt_3.png');
}

.operationPopupWindow .entryPopupHelperContent {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 80px;
    margin: auto;
}

.operationPopupWindow .entryPopupHelperContent .defaultChildText {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 15px;
    line-height: 15px;
    margin: auto;
    white-space: nowrap;
    text-align: center;
    color: #004051;
    font-size: 15px;
}

.operationPopupWindow .entryPopupHelperContent.operation1_1 {
    width: 477px;
    height: 341px;
    background: url('../images/popup/operation1_1.png');
}

.operationPopupWindow .entryPopupHelperContent.operation1_2 {
    width: 402px;
    height: 364px;
    background: url('../images/popup/operation1_2.png');
}

.operationPopupWindow .entryPopupHelperContent.operation1_3 {
    width: 595px;
    height: 263px;
    background: url('../images/popup/operation1_3.png');
}

.operationPopupWindow .entryPopupHelperContent.operation1_4 {
    width: 460px;
    height: 375px;
    background: url('../images/popup/operation1_4.png');
}

.operationPopupWindow .entryPopupHelperContent.operation7_1 {
    width: 634px;
    height: 207px;
    background: url('../images/popup/operation7_1.png');
}

.operationPopupWindow .entryPopupHelperContent.operation7_2 {
    width: 571px;
    height: 312px;
    background: url('../images/popup/operation7_2.png');
}

.operationPopupWindow .entryPopupHelperContent.operation7_3 {
    width: 625px;
    height: 356px;
    background: url('../images/popup/operation7_3.png');
}

.operationPopupWindow .entryPopupHelperContent.operation7_4 {
    width: 680px;
    height: 214px;
    background: url('../images/popup/operation7_4.png');
}