.entryPopup {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 7000;
    background-color: rgba(0, 0, 0, 0.2);
}

.entryPopupWindow {
    width: 80%;
    height: 80%;
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    /*overflow: hidden;*/
    z-index: 8000;
    background-color: white;
}

