.entryPopup {
    overflow: hidden;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 7000;
    background-color: rgba(0, 0, 0, 0.2);
}

.entryPopupWindow {
    width: 80%;
    height: 80%;
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    /*overflow: hidden;*/
    z-index: 8000;
    background-color: @white;
}

.hiddenPopup {
    display: none;
}

.entryPopupHelperWindow {
    .entryPopupHelperCloseButton{
        width: 13px;
        height: 13px;
        position: absolute;
        right: 10px;
        top: 10px;
        background-image: url('/img/assets/popup/x_btn.png');
        cursor: pointer;
    }

    .entryPopupHelperTitle {
        width: 100%;
        height: 60px;
        background-color: @titleBack;
        font-weight: bold;
        font-size: 20px;
        line-height: 60px;
        padding-left: 32px;
        color: @white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}



.entryPopupHelperWindow.operationPopupWindow {
    width: 840px;
    height: 690px;
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    z-index: 8000;
    background-color: @white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.operationPopupWindow .entryPopupHelperLeft.show,
.commandPopupWindow .entryPopupHelperLeft.show {
    display: block;
}

.operationPopupWindow .entryPopupHelperLeft:active,
.operationPopupWindow .entryPopupHelperLeft:hover,
.commandPopupWindow .entryPopupHelperLeft:active,
.commandPopupWindow .entryPopupHelperLeft:hover {
    background-image: url("/img/assets/popup/left_btn_on.png");
}


.operationPopupWindow .entryPopupHelperRight.show,
.commandPopupWindow .entryPopupHelperRight.show {
    display: block;
}

.operationPopupWindow .entryPopupHelperRight:active,
.operationPopupWindow .entryPopupHelperRight:hover,
.commandPopupWindow .entryPopupHelperRight:active,
.commandPopupWindow .entryPopupHelperRight:hover {
    background-image: url("/img/assets/popup/right_btn_on.png");
}

.operationPopupWindow .entryPopupHelperView .textShadow,
.commandPopupWindow .entryPopupHelperContentDesc .textShadow {
    background-color: @viewShadow;
    padding: 3px 1px 0;
}

.numberBefore {
    position: absolute;
    margin-top: -4px;
}

.pdb5 {
    padding-bottom: 5px;
}


.operationPopupWindow{
    .entryPopupHelperStep {
        background: @stepBack;
        height: 36px;
        width: 122px;
        margin-left: 32px;
        margin-top: 20px;
        line-height: 36px;
        padding: 0 29px;
        color: @white;
        border: solid 1px @stepBorder;
        border-radius: 20px;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        white-space: nowrap;
    }
    .entryPopupHelperLeft {
        display: none;
        width: 62px;    
        height: 62px;
        background-image: url("/img/assets/popup/left_btn.png");
        position: absolute;     
        margin-left: 25px;
        margin-top: 193px;
        cursor: pointer;
        z-index: 1;
    }

    .entryPopupHelperRight {
        display: none;
        right: 0;
        width: 62px;
        height: 62px;
        background-image: url("/img/assets/popup/right_btn.png");
        position: absolute;     
        margin-right: 25px;
        margin-top: 193px;
        cursor: pointer;
        z-index: 1;
    }

    .entryPopupHelperView {
        position: absolute;
        bottom: 30px;
        left: 34px;
        font-size: 17px;
        padding: 24px 150px 0 19px;
        color: @viewText;
    }

    .entryPopupHelperView .textUnderline{
        border-bottom: @viewUnder solid 2px;
        box-shadow: inset 0 -1px 0px 0px @viewUnder;
    }

    .entryPopupHelperView .textBadge {
        margin-right: 30px;
        margin-left: 3px;
    }

    .entryPopupHelperView .number1:before{
        content: url('/img/assets/popup/number_1_r.png');
        .numberBefore;
    }

    .entryPopupHelperView .number2:before{
        content: url('/img/assets/popup/number_2_r.png');
        .numberBefore;
    }

    .entryPopupHelperView .number3:before{
        content: url('/img/assets/popup/number_3_r.png');
        .numberBefore;
    }

    .entryPopupHelperView.descStyle1 {
        width: 771px;
        height: 155px;
        background: url('/img/assets/popup/txt_1.png');
    }

    .entryPopupHelperView.descStyle2 {
        width: 771px;
        height: 175px;
        background: url('/img/assets/popup/txt_2.png');
    }

    .entryPopupHelperView.descStyle3 {
        width: 771px;
        height: 226px;
        background: url('/img/assets/popup/txt_3.png');
    }

    .entryPopupHelperContent {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 80px;
        margin: auto;
    }

    .entryPopupHelperContent .defaultChildText {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 15px;
        line-height: 15px;
        margin: auto;
        white-space: nowrap;
        text-align: center;
        color: #004051;
        font-size: 15px;

        .textMultiline {
            line-height: 23px;
        }

        .textEmphasis {
            color: @viewEmphasis;
        }
    }

    .entryPopupHelperContent.operation1_1 {
        width: 476px;
        height: 123px;
        background: url('/img/assets/popup/operation1_1.png');
    }

    .entryPopupHelperContent.operation1_2 {
        width: 402px;
        height: 364px;
        background: url('/img/assets/popup/operation1_2.png');
    }

    .entryPopupHelperContent.operation1_3 {
        width: 595px;
        height: 263px;
        background: url('/img/assets/popup/operation1_3.png');
    }

    .entryPopupHelperContent.operation1_4 {
        width: 460px;
        height: 164px;
        background: url('/img/assets/popup/operation1_4.png');
    }

    .entryPopupHelperContent.operation7_1 {
        width: 634px;
        height: 207px;
        background: url('/img/assets/popup/operation7_1.png');
    }

    .entryPopupHelperContent.operation7_2 {
        width: 571px;
        height: 312px;
        background: url('/img/assets/popup/operation7_2.png');
    }

    .entryPopupHelperContent.operation7_3 {
        width: 625px;
        height: 356px;
        background: url('/img/assets/popup/operation7_3.png');
    }

    .entryPopupHelperContent.operation7_4 {
        width: 680px;
        height: 214px;
        background: url('/img/assets/popup/operation7_4.png');
    }

    .entryPopupHelperContent.operation9_1 {
        width: 213px;
        height: 120px;
        background: url('/img/assets/popup/operation9_1.png');
    }

    .entryPopupHelperContent.operation9_2 {
        width: 534px;
        height: 387px;
        background: url('/img/assets/popup/operation9_2.png');
    }

    .entryPopupHelperContent.operation9_3 {
        width: 506px;
        height: 207px;
        background: url('/img/assets/popup/operation9_3.png');
    }

    .entryPopupHelperContent.operation10_1 {
        width: 665px;
        height: 333px;
        background: url('/img/assets/popup/operation10_1.png');
    }

    .entryPopupHelperContent.operation10_2 {
        width: 271px;
        height: 167px;
        background: url('/img/assets/popup/operation10_2.png');
    }

    .entryPopupHelperContent.operation10_3 {
        width: 275px;
        height: 167px;
        background: url('/img/assets/popup/operation10_3.png');
    }

    .entryPopupHelperContent.operation10_4 {
        width: 637px;
        height: 191px;
        background: url('/img/assets/popup/operation10_4.png');
    }

    .entryPopupHelperContent.operation15_1 {
        width: 611px;
        height: 335px;
        background: url('/img/assets/popup/operation15_1.png');
    }

    .entryPopupHelperContent.operation15_2 {
        width: 218px;
        height: 161px;
        background: url('/img/assets/popup/operation15_2.png');
    }

    .entryPopupHelperContent.operation15_3 {
        width: 209px;
        height: 217px;
        background: url('/img/assets/popup/operation15_3.png');
    }

    .entryPopupHelperContent.operation15_4 {
        width: 603px;
        height: 280px;
        background: url('/img/assets/popup/operation15_4.png');
    }

} 

/* Object Popup:Begin */

.entryPopupHelperWindow.objectPopupWindow {
    width: 400px;
    height: 219px;
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;
    z-index: 8000;
    background-color: @white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.objectPopupWindow {
    .entryPopupHelperContent.singleItem {
        margin:33px 56px 44px 21px;
    }   
    .entryPopupHelperContent.multiItem {
        margin:33px 56px 34px 21px;
    }
    .entryPopupHelperContent {
        div{
            float: left;
        }
        .equal {
            margin-left: 45px;
            margin-top: 27px;
            display: inline-block;
            width: 39px;
            height: 27px;
            background: url('/img/assets/popup/equal.png');
        }
        .objectText {
            width: 97px;
            display: inline-block;
            margin-left: 25px;
            font-weight: bold;
            color: @objectText;
            font-size: 27px;
            line-height: 82px;
            text-align: center;
            white-space: nowrap;
        }
        .partsBox {
            height: 82px;
            display: inline-block;
            background: url('/img/assets/popup/img_1.png');
        }
        .obstacle1 {
            height: 82px;
            display: inline-block;
            background: url('/img/assets/popup/img_2.png');
        }
        .friend {
            height: 82px;
            display: inline-block;
            background: url('/img/assets/popup/img_3.png');
        }
        .obstacle2 {
            height: 82px;
            display: inline-block;
            background: url('/img/assets/popup/img_4.png');
        }
        .wall1 {
            height: 82px;
            display: inline-block;
            background: url('/img/assets/popup/img_5.png');
        }
        .wall2 {
            height: 82px;
            display: inline-block;
            background: url('/img/assets/popup/img_6.png');
        }
        .battery {
            height: 82px;
            display: inline-block;
            background: url('/img/assets/popup/img_7.png');
        }
        .wall3 {
            height: 82px;
            display: inline-block;
            background: url('/img/assets/popup/img_8.png');
        }
        .obstacle3 {
            height: 82px;
            display: inline-block;
            background: url('/img/assets/popup/img_9.png');
        }
    }

}
/* Object Popup:End */

/* Command Popup:Start */
.entryPopupHelperWindow.commandPopupWindow {
    top: 50%;
    width: 580px;
    position: absolute;
    left: 0; right: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    z-index: 8000;
}

.commandPopupWindow{
    .entryPopupHelperWrapper {
        top: -50%;
        padding-bottom: 35px;
        position: relative;
        background: @white;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        transform: translate3d(0, -50%, 0);
    }

    .entryPopupHelperExampleBadge {
        background: @exampleBack;
        height: 30px;
        width: 104px;
        margin: 35px auto 0;
        line-height: 30px;
        padding: 0 29px;
        color: @white;
        border-radius: 20px;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        white-space: nowrap;
    }

    .entryPopupHelperLeft {
        display: none;
        width: 62px;    
        height: 62px;
        background-image: url("/img/assets/popup/left_btn.png");
        position: absolute;     
        margin-left: 25px;
        margin-top: 196px;
        cursor: pointer;
        z-index: 1;
    }

    .entryPopupHelperRight {
        display: none;
        right: 0;
        width: 62px;
        height: 62px;
        background-image: url("/img/assets/popup/right_btn.png");
        position: absolute;     
        margin-right: 25px;
        margin-top: 196px;
        cursor: pointer;
        z-index: 1;
    }
    .entryPopupHelperContentCommand {
        text-align: center;
        margin-top: 40px;
        font-size: 27px;
        color: @objectText;
        font-weight: bold;
    }

    .entryPopupHelperContentCommand span {
        text-align: left;
        display: inline-block;
    }

    .entryPopupHelperContentDesc {
        font-size: 15px;
        text-align: center;
        margin-top: 24px;
        color: @objectText;
    }

    .entryPopupHelperIndicator {
        display: none;
        text-align: center;

        .indicatorHr{
            border-top: 1px solid #aaaaaa;
            margin-top: 23px;
            margin-bottom: 0px;
            width: 250px;
        }

        .indicator {
            width: 20px;
            height: 20px;
            background: @indicatorOff;
            border-radius: 50%;
            display: inline-block;
            margin:20px 25px 0 0;
            cursor: pointer;
        }

        .indicator.on {
            background: @indicatorOn;
            cursor: inherit;
        }


        .indicator:last-child {
            margin-right: 0;
        }
    }
        
    .entryPopupHelperIndicator.show {
        display: block;
    }

    .entryPopupHelperContentDesc .obstacleSet {
        margin: 15px auto 0;
        width: 207px;
        height: 72px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('/img/assets/popup/obstacleSet.png');
    }

    .entryPopupHelperContent {
        .move01 {
            margin: 10px auto 0;
            width: 240px;
            height: 160px;
            background: url('/img/assets/popup/move01.png');
        }

        .move02 {
            margin: 23px auto 0;
            width: 72px;
            height: 38px;
            background: url('/img/assets/popup/move02.png');
        }

        .jump01 {
            margin: 10px auto 0;
            width: 320px;
            height: 160px;
            background: url('/img/assets/popup/jump01.png');
        }

        .jump02 {
            margin: 23px auto 0;
            width: 71px;
            height: 40px;
            background: url('/img/assets/popup/jump02.png');
        }

        .right01 {
            margin: 10px auto 0;
            width: 160px;
            height: 240px;
            background: url('/img/assets/popup/right01.png');
        }

        .right02 {
            margin: 23px auto 0;
            width: 83px;
            height: 60px;
            background: url('/img/assets/popup/right02.png');
        }

        .left01 {
            margin: 10px auto 0;
            width: 160px;
            height: 240px;
            background: url('/img/assets/popup/left01.png');
        }

        .left02 {
            margin: 23px auto 0;
            width: 72px;
            height: 60px;
            background: url('/img/assets/popup/left02.png');
        }

        .for01 {
            margin: 10px auto 0;
            width: 320px;
            height: 160px;
            background: url('/img/assets/popup/for01.png');
        }

        .for02 {
            margin: 23px auto 0;
            width: 301px;
            height: 61px;
            background: url('/img/assets/popup/for02.png');
        }

        .while01 {
            margin: 10px auto 0;
            width: 320px;
            height: 160px;
            background: url('/img/assets/popup/while01.png');
        }

        .while02 {
            margin: 23px auto 0;
            width: 151px;
            height: 61px;
            background: url('/img/assets/popup/while02.png');
        }

        .if01 {
            margin: 10px auto 0;
            width: 320px;
            height: 160px;
            background: url('/img/assets/popup/if01.png');
        }

        .if02 {
            margin: 23px auto 0;
            width: 259px;
            height: 126px;
            background: url('/img/assets/popup/if02.png');
        }

        .if03 {
            margin: 10px auto 0;
            width: 320px;
            height: 160px;
            background: url('/img/assets/popup/if03.png');
        }

        .if04 {
            margin: 23px auto 0;
            width: 249px;
            height: 126px;
            background: url('/img/assets/popup/if04.png');
        }

        .if05 {
            margin: 10px auto 0;
            width: 320px;
            height: 160px;
            background: url('/img/assets/popup/if05.png');
        }

        .if06 {
            margin: 23px auto 0;
            width: 281px;
            height: 126px;
            background: url('/img/assets/popup/if06.png');
        }

        .promise01 {
            margin: 10px auto 0;
            width: 320px;
            height: 240px;
            background: url('/img/assets/popup/promise01.png');
        }

        .promise02 {
            margin: 23px auto 0;
            width: 262px;
            height: 104px;
            background: url('/img/assets/popup/promise02.png');
        }

    } 
    
} 

/* Command Popup:End */