.entrySceneWorkspace {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 39px;
    background-color: @baseblue;
    overflow: hidden;
    z-index: 10;
}

.entrySceneListWorkspace {
    overflow: hidden;
    float: left;
    margin: 0;
    padding: 0 0 0 18px;
}
.entrySceneElementWorkspace {
    float: left;
    overflow: hidden;
    margin: 5px 0 0 -12px;
    list-style-type: none;
    color: white;
    cursor: move;
    z-index: 10;
}
.entrySceneElementWorkspace.selectedScene {
    position: relative;
    margin-top: 0;
    z-index: 888;
}
.entrySceneAddButtonWorkspace{
    float: left;
    position: relative;
    margin: 8px 0 0 -18px;
    width: 55px;
    height: 34px;
    z-index: 5;
    cursor: pointer;
    .backgroundImage("top_icon_add_b_nor.png");
    background-size: 55px auto;
}

.selectedScene .entrySceneLeftWorkspace {
    height: 39px;
    .backgroundImage("top_tab_b_sel_left.png");
}

.entrySceneLeftWorkspace {
    display: inline-block;
    float: left;
    width: 15px;
    height: 34px;
    background: url("@{image_url}top_tab_b_nor_left_blue.png") no-repeat 0 100%;
    background-size: 14px auto;
}

.entrySceneInputCover {
    margin-left: -1px;
    display: inline-block;
    float: left;
    height: 34px;
    width: 76px;
    padding-top: 6px;
    background: url("@{image_url}top_tab_b_nor_middle_blue.png") repeat-x 0 100%;
    background-size: 2px;
}

.minValue .entrySceneInputCover {
    min-width: 79px;
}

.entrySceneFieldWorkspace {
    cursor: text !important;
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    height: 24px;
    width: 100%;
    margin-left: -3px;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: 0;
    background-color: transparent;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    line-height: 24px;
}

.selectedScene .entrySceneInputCover {
    height: 39px;
    padding: 8px 15px 0 0;
    background: url("@{image_url}top_tab_b_sel_middle.png") repeat-x;
    background-size: 2px;
}

.selectedScene .entrySceneFieldWorkspace {
    background-color: #fff;
    font-size: 14px;
    color: #ffb500;
}
.selectedScene .entrySceneFieldWorkspace:focus {
    font-size: 12px;
    border: 1px solid #e2e2e2;
    color: #2c313d;
}

.entrySceneRemoveButtonCoverWorkspace {
    position: relative;
    z-index: 15;
    border: 0;
    padding: 0;
    width: 20px;
    background-color: transparent;
    display: inline-block;
    float: left;
    height: 34px;
    position: relative;
    background: url("@{image_url}top_tab_b_nor_right_blue.png") no-repeat 0 100%;
    background-size: 20px auto;
}

.selectedScene .entrySceneRemoveButtonCoverWorkspace {
    display: inline-block;
    .backgroundImage("top_tab_b_sel_right.png");
    height: 39px;
}

.entrySceneRemoveButtonWorkspace {
    position: absolute;
    right: 18px;
    top: 50%;
    width: 10px;
    height: 10px;
    padding: 0;
    margin-top: -5px;
    border: 0;
    display: none;
    .backgroundImage("scene_delete_unselect.png");
    background-size: 10px auto;
    background-color: #99c4ff;
}

.selectedScene .entrySceneRemoveButtonWorkspace {
    background-color: white;
    .backgroundImage("scene_delete.png");
}

.minValue .entrySceneRemoveButtonWorkspace {
    display: inline-block;
}

.entrySceneRemoveButtonWorkspace:hover {
    .backgroundImage("scene_delete_hover.png");
}


.entrySceneDummyView {
    width: 55px;
    height: 40px;
    background-color: orange;
    display: inline-block;
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 889;
    left: 100px;
}

.tablet {
    .entrySceneRemoveButtonWorkspace {
        width: 14px;
        height: 14px;
        right: 48px;
        .backgroundImage("scene_delete_unselect_big.png");
    }

    .selectedScene .entrySceneRemoveButtonWorkspace {
        .backgroundImage("scene_delete_big.png");
    }

    .entrySceneRemoveButtonWorkspace:hover {
        .backgroundImage("scene_delete_hover_big.png");
    }
}

