.entryTargetStatus {
    height: 54px;
    border-radius: 3px;
    width: 100%;
    background-color: #f4f4f4;
}

.iframeWithTargetStatus .entryTargetStatus {
    position: absolute;
    bottom: 0;
}

.iframeWithTargetStatus #entryCanvasWrapper {
    bottom: 89px;
}

.iframeWithTargetStatus .entryEngine {
    bottom: 54px;
}
