@import "prefix.less";
@import "static.less";
@bora: #4b37a0;
@lightBora: #6c5af2;


@import "common.less";

@import "components/scene.less";

@import "components/state_manager.less";

@import "components/stage.less";

@import "/components/engine.less";

@import "/components/property_panel.less";
@import "/components/hw_monitor.less";

@import "/components/container.less";

@import "/components/object.less";

@import "/components/playground.less";

@import "/components/variable_container.less";

@import "/components/toast.less";
.entryPopup {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 7000;
    background-color: rgba(0, 0, 0, 0.2);
}

.entryPopupWindow {
    width: 80%;
    height: 80%;
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    /*overflow: hidden;*/
    z-index: 8000;
    background-color: white;
}


#entryTextColourTable {
    margin-top: 12px;
    cursor: pointer;
    border-collapse: collapse;
}

.entryTdTransparent {
    width: 20px;
    height: 20px;
    background-color: white;
    background-image: -webkit-linear-gradient(135deg, transparent 11.5px, rgb(255,0,0) 13px, rgba(255,255,255,.5) 14.5px);
    border: 1px solid;
}

.navbar-default {
    background-color: #89c1e4;
    border-color: #89c1e4;
    /*background-color: #4accaa;
    border-color: #4accaa;*/
}

#project_name.normal {
    background-color: #89c1e4;
    /*background-color: #4accaa;*/
}


.btn-group > .btn {
    background-color: transparent;
    border-color: transparent;
    /*background-color: #4accaa;
    border-color: #4accaa;*/
}

.art_project_name {
    background-color: white !important;
}

.art_project_name:hover {
    border: 1px solid #b4b4b4 !important;
}

.entryObjectCoordinateSpanWorkspace {
    float: left;
    position: absolute;
}

.entryObjectCoordinateSpanWorkspace:nth-child(3) {
    float: left;
    margin-left: 57px;
}

.entryObjectCoordinateSizeWorkspace {
    float: left;
    margin-left: 113px;
    position: absolute;
}

.entryObjectCoordinateInputWorkspace {
    width: 40px;
    height: 20px;
    position: absolute;
    float: left;
    margin: -2px 5px 0px 15px;
    background-color: #e5e5e5;
    border: none;
    border: 1px solid transparent;
}

.entryObjectCoordinateInputWorkspace_right {
    margin-left: 70px;
}

.entryObjectCoordinateInputWorkspace_size {
    float: left;
    position: absolute;
    margin-left: 145px;
}

.entryObjectCoordinateInputWorkspace:hover, .entryObjectCoordinateInputWorkspace:focus,
.entryObjectRotateInputWorkspace:hover, .entryObjectDirectionInputWorkspace:hover,
.entryObjectRotateInputWorkspace:focus, .entryObjectDirectionInputWorkspace:focus {
    background-color: white;
}

.entryObjectCoordinateInputWorkspace:disabled,
.entryObjectRotateInputWorkspace:disabled,
.entryObjectDirectionInputWorkspace:disabled{
    background-color: transparent;
}

.entryFunctionEdit {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(180,180,180, 0.4) !important;
    z-index: 50;
}

#entryFunctionBtnWrapper {
    position: absolute;
    z-index: 100;
    bottom: 90px;
    margin: 0 auto;
    left: 50%;
}

.entryFunctionBtn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border: solid 3px #888;
    color: #666;
    width: 55px; height: 55px;
    border-radius: 27.5px;
    text-align: center;
    line-height: 48px;
    left: -50%;
}

.entryFunctionBtn:hover {
    border: solid 3px #555;
    color: #222;
}

#entryFunctionCancel {
}

#entryFunctionSave {
    margin-right: 20px;
}

/* Painter css start */
.entryPlaygroundPainter {
    position: absolute;
    left: 240px;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    border-left: 2px solid #c4c4b9;
    background-color: #fff;
}

.entryPlaygroundPainterTop {
    position: absolute;
    display: block;
    width: 100%;

    left:55px;
    background-color: #634cd9;
    height: 29px;
}

.entryPlaygroundPainterTopMenu ul ul {
    display: none;
    margin-top: 5px;
    margin-left: -8px;
}

/*.entryPlaygroundPainterTopMenu ul ul {
    background: #5f6975;
    border-radius: 0px;
    padding: 0;
    position: absolute;
    top: 100%;
    width: 120px;
}*/
.entryPlaygroundPainterTopMenu> li {
    list-style-type: none;
    top:100%;
    width: 120px;   
}

/*.entryPlaygroundPainterTopMenu ul ul ul {
    position: absolute;
    color:black;
    left: 100%;
    top:0;
}*/

/*.entryPlaygroundPainterTopMenu ul ul li {
    float: none; 
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    position: relative;
    cursor: pointer;
    color:black;
}*/

.entryPlaygroundPainterTopMenu ul ul li a {
    padding: 10px;
    /*color: #fff;*/
    color:black;
}

.entryPlaygroundPainterTopMenu ul ul li a:hover {
    background: white;
    color:black;
}
.entryPlaygroundPainterTopMenu li a:hover {
    background: #4b545f;
    color:white;

}
.entryPlaygroundPainterTopMenu ul li:hover > ul {
    display: block;
}
.entryPlaygroundPainterTopMenu ul li a:hover{
    background-color:#3b329e; 
}

.entryPlaygroundPainterTopMenu ul {
    padding: 0;
    border-radius: 0;
    height: 50px;
    list-style: none;
    position: relative;
    display: inline-table;
    z-index: 100;
}

.entryPlaygroundPainterTopMenu ul:after {
    content: "";
    clear: both;
    display: block;
}
.entryPlaygroundPainterTopMenuEdit:hover {
    background-color: #3b329e;
}

/*.entryPlaygroundPainterTopMenu ul li {
    float: left;
}*/

/*.entryPlaygroundPainterTopMenu ul li:hover {
    background: #4b545f;
}*/
/*.entryPlaygroundPainterTopMenu ul li:hover {
    background-color: #3b329e !important;
    font:bold;
}*/

.entryPlaygroundPainterTopMenu ul li a {
    display: block;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
}
#entryPainterTopMenuEdit>ul>li{
    border-bottom:solid 1px #643cd9;
    border-left:solid 1px #643cd9;
    border-right:solid 1px #643cd9;
    background-color: white;
    font-family: nanumBarunRegular !important;
}
#entryPainterTopMenuEdit>ul>li{
    background-color:white;
    border-bottom:solid 1px #643cd9;
}
#entryPainterTopMenuEdit>ul>li>:hover{
    background-color:#643cd9;
    color:white;
}
#entryPainterTopMenuEdit{
    color: white;
}

#entryPainterTopMenuFile>ul>li{
    border-bottom:solid 1px #643cd9;
    border-left:solid 1px #643cd9;
    border-right:solid 1px #643cd9;
    background-color: white;
    font-family: nanumBarunRegular !important;
}
#entryPainterTopMenuFile>ul>li{
    background-color:white;
    border-bottom:solid 1px #643cd9;
}
#entryPainterTopMenuFile>ul>li>:hover{
    background-color:#643cd9;
    color:white;
}
#entryPainterTopMenuFile{
    color: white;
}


.entryPlaygroundPainterTopStageXY {
    position:absolute;
    width: 150px;
    height: 30px;
    top: 5px;
    left: 280px;
    font-size: 10pt;
    color:white;
}

.entryPlaygroundPainterTopToolbar {
    position: absolute;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    right: 170px;
    width: 100px;
    height: 30px;
}
.entryPlaygroundPainterFlip {
    width: 200px;
}
.entryPlaygroundPainterFlipY {
    position: absolute;
    top:90px;
    left: 90px;
    .backgroundImage("horizontal.png");
    background-repeat: no-repeat;
    border-radius: 3px;
    width: 28px;
    height: 28px;
}
.entryPlaygroundPainterFlipX {
    position: absolute;
    top:90px;
    left: 60px;
    .backgroundImage("vertical.png");
    background-repeat: no-repeat;
    border-radius: 3px;
    width: 28px;
    height: 28px;
}

.entryPlaygroundPainterTopToolbar>li {
    float: left;
    position: relative;
    left: 0;
    margin: 2px 5px;
    width: 35px;
    height: 25px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.entryPlaygroundPainterToolbox {
    position: absolute;
    height: 100%;
    width: 54px;

    background-color: #f5f5f5;
}

.entryPlaygroundPainterToolboxContainer li {
    cursor: pointer;
    top: 16px;
}

.entryPlaygroundPainterToolboxSelected {
    background-color: #ccc;
}

.entryPlaygroundPainterContainer {
    position: absolute;
    top: 30px;
    left: 56px;
    background-color: transparent;
    overflow: scroll;
}

.entryPlaygroundPainterCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 960px;
    height: 540px;
}

.entryPlaygroundPainterAttr {
    position: absolute;
    top:342px;
    width: 100%;
    height: 192px;
    background-color: #f5f5f5;
    padding-left: 6px;
    left:54px;
}

.entryPlaygroundPainterToolboxContainer {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.entryPlaygroundPainterToolboxContainer>li {
    float: left;
    position: relative;
    left: 8px;
    margin: 5px 5px;
    width: 27px;
    height: 27px;
    background-color: #fff;
    font-size: 9pt;
    color: #000;
    text-align: center;
    line-height: 40px;

}

.entryPlaygroundPainterAttrResize{
    position: absolute;
    top: 4px;
    left: 5px;
    padding: 4px;
}
.entryPlaygroundPainterAttrResize>legend {
    background-color: transparent;
    padding: 2px;
    width: 30px;
    margin-bottom: 0;
    border-bottom: 0;
    font-size: 9pt;
}
.entryPlaygroundPainterAttrResize>span {
    font-size: 9pt;
    padding: 2px;
    margin: 0;
}
.painterAttrRotateTop {
    padding-left: 28px;
    color: white;
}
.entryPlaygroundPainterAttrRotate {
    position: absolute;
    top:77px;
    left: 10px;
    width: 40px;
    height: 40px;
    background-color: #643cd9;
    border-radius: 3px;
}
.entryPlaygroundPainterSizeText {
    position: absolute;
    left: 48px;
    width:10px;
    color:black;
}
.painterAttrRotateTop {
    width: 40px;
    height: 10px;
}
.entryPlaygroundPainterNumberInput {
    width: 30px;
    font-size: 9pt;
    color:white;
    padding-left:3px;
    padding-right:3px;
}
.entryPlaygroundPainterAttrOpacity {
    position: absolute;
    top: 77px;
    left: 65px;
    border-radius: 3px;
    background-color: #643cd9;
}
.entryPlaygroundPainterAttrOpacity>legend {
    background-color: transparent;
    padding: 2px;
    width: 45px;
    margin-bottom: 0;
    border-bottom: 0;
    font-size: 9pt;
}
.entryPlaygroundPainterAttrOpacity>span {
    font-size: 9pt;
    padding: 2px;
    margin: 0;
}
.entryPlaygroundPainterNumberInput {
    width: 30px;
    font-size: 9pt;
}
.entryPlaygroundPainterAttrColor {
    position: absolute;
    left: 210px;
    top:20px;
    width: 160px;
    padding: 4px;
}
.entryPlaygroundPainterAttrColor>legend {
    background-color: transparent;
    padding: 2px;
    width: 35px;
    margin-bottom: 0;
    border-bottom: 0;
    font-size: 9pt;
}
.entryPlaygroundPainterAttrColorElement {
    float:left;
    width: 15px;
    height: 15px;
}

.entryPlaygroundPainterAttrThick {
    position: absolute;
    top: 20px;
    left: 2px;
    background-color: #643cd9;
    border-radius: 3px;
}
.entryPlaygroundPainterAttrThick > legend {
    position:absolute;
    top:-30pxpx;
    background-color: transparent;
    padding: 2px;
    width: 60px;
    margin-bottom: 0;
    border-bottom: 0;
    font-size: 9pt;
}
.entryPlaygroundPainterAttrThickInput {
    font-size: 9pt;
}
.entryPlaygroundPainterAttrRect {
    position: absolute;
    top: 40px;
    left: 490px;
    padding: 4px;
    border: 1px solid #000;
}
.entryPlaygroundPainterAttrRect>legend {
    background-color: transparent;
    padding: 2px;
    width: 60px;
    margin-bottom: 0;
    border-bottom: 0;
    font-size: 9pt;
}
.entryPlaygroundPainterAttrRectFilled {
    width: 15px;
    height: 15px;
    background-color: #000;
    border: 1px solid #000;
    float: left;
}
.entryPlaygroundPainterAttrRectEmpty {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 1px solid #000;
    float: right;
}
.entryPlaygroundPainterAttrFont {
    position: absolute;
    left: 0px;
    padding: 4px;
    width: 100px;
    height:40px;
}
.entryPlaygroundPainterAttrTop {
    position: absolute;
    top:20px;
    width:93px;
    height:40px;
    border-radius: 3px;
    color: white;
    background-color: #643cd9;
}
.entryPlaygroundPaintAttrTop_ {
    width: 93px;
    height:10px;
}
.entryPlaygroundPainterAttrFont>legend {
    background-color: transparent;
    width: 60px;
    margin-bottom: 0;
    border-bottom: 0;
    font-size: 9pt;
}

.painterAttrFontSizeArea {
    position: absolute;
    top: 70px;
    background-color: #643cd9;
    width:44px;
    height:40px;
    color:white;
    border-radius: 3px;
}
.painterAttrFontSizeTop {
    width:40px;
    height: 10px;
}
.entryPlaygroundPainterAttrFontName , .entryPlaygroundPainterAttrFontSize, .entryPlaygroundPainterAttrFontStyle{
    background: transparent;
    border:0px;
}
.entryPlaygroundPainterAttrFontStyleArea {
    position:absolute;
    background-color: #643cd9 ;
    top:120px;
    width:67px;
    height: 40px;
    border-radius: 3px;
    color:white;
}
.entryPlaygroundPainterAttrFontStyle option{
    color: black;
}
.entryPlaygroundPainterAttrFontSize option{
    color: black;
}
.entryPlaygroundPainterAttrFontName option{
    color:black;
}
.entryPlaygroundPainterAttrFontTop {
    width:67px;
    height: 10px;
}
/* Painter css finish */

.temp-element {
    visibility: hidden;
    white-space: pre;
}

.highlight {
    margin:0;
    color:white;
    width:120px;
    float: left;
    list-style:none;
    display: block;
}

.entryVariableAddSpaceWorkspace {
    padding: 0;
    padding-left: 16px;    
    padding-right: 16px;    
    margin: 0;
    /*height: 215px;*/
    height: 200px;
    background-color: white;
    border: 1px solid #a8a8a8;
}

.entryVariableAddSpaceNameWrapperWorkspace {
    height: 28px;
    margin-top: 16px;
    .backgroundImage("list_icon_question_1.png");
    background-repeat: no-repeat;
}

.entryVariableAddSpaceNameWrapperWorkspace.entryListAddSpaceNameWrapperWorkspace {
    .backgroundImage("list_icon_list_1.png");
}

.entryVariableAddSpaceInputWorkspace {
    width: 80%;
    margin-left: 42px;
    margin-top: 2px;
}

.entryVariableAddSpaceGlobalWrapperWorkspace {
    margin-top: 16px;
    color: #5e5e5e;
    font-size: 11px;
    position: relative;
    cursor: pointer;
}

.entryVariableAddSpaceCheckWorkspace {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    margin-top: 2px;
    position: absolute;
    right: 17px;
    border: 1px solid gray;
}

.entryVariableAddSpaceCheckWorkspace.entryVariableAddChecked {
    background-color: gray;
}

.entryVariableAddSpaceLocalWrapperWorkspace {
    color: #5e5e5e;
    font-size: 11px;
    position: relative;
    margin-top: 12px;
    cursor: pointer;
    padding-bottom: 10px;
    border-bottom: 1px solid #a8a8a8;
}

.entryVariableAddSpaceCloudWrapperWorkspace {
    padding-top: 8px;
}

.entryVariableAddSpaceCloudWrapperWorkspace {
    cursor: pointer;
    color: #5e5e5e;
    font-size: 11px;
    position: relative;
}

.entryVariableAddSpaceUnCheckedWorkspace {
    color: #afafaf;
}

.entryVariableAddSpaceCloudCheckWorkspace {
    margin-top: -12px;
}

.entryVariableAddSpaceButtonWrapperWorkspace {
    margin-top: 12px;
}

.entryVariableAddSpaceButtonWorkspace {
    font-size: 11px;
    display: inline-block;
    width: 48px;
    height: 24px;
    border: 2px solid gray;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
    float: right;
}

.entryVariableAddSpaceCancelWorkspace {
    margin-left: 7px;
}

.entryVariableSplitterWorkspace {
    height: 25px;
    font-size: 11px;
    border: 1px solid #a8a8a8;
    border-top: none;
    line-height: 25px;
    padding-left: 9px;
}

/*first element after splitter should not have border-top*/
.entryVariableSplitterWorkspace + .entryVariableListElementWorkspace {
    border-top: none;
}

.entryVariableListCallerListWorkspace + .entryVariableListElementWorkspace {
    border-top: none;
}

.entryPlaygroundPainterTopMenuFileNew {
    position: absolute;
    color:white;
    left: 20px;
    top:0px;
    padding: 4px;
    height:28px;
    cursor: pointer;
    list-style: none;
    font-family: nanumBarunBold !important;
}
.entryPlaygroundPainterTopMenuFileSave {
    position: absolute;
    color:white;
    padding-left:8px;
    left: 95px;
    top: 0px;
    padding-top:4px;
    height:28px;
    width:70px;
    cursor: pointer;
    font-family: nanumBarunBold !important;
}
.entryPlaygroundPainterTopMenuFileSave:hover,.entryPlaygroundPainterTopMenuFileNew:hover {
    background-color: #3b329e !important;
}

.entryPlaygroundPainterTopMenuEdit {
    position: absolute;
    color:white;
    padding-left:8px;
    left: 158px;
    height:28px;
    width:55px;
    cursor: pointer;
    margin-top: -4px;
    padding-top: 3px;
    font-family: nanumBarunBold !important;
}
.entryPlaygroundPainterTopMenuEdit>li {
    list-style-type: none;
}

.entryPlaygroundPainterTopMenuFile:extend(.entryPlaygroundPainterTopMenuEdit) {
    left: 100px;
}
.entryPlaygroundPainterTopMenuFile>li {
    list-style-type: none;
}


.entryPlaygroundPainterToolboxPen {
    .backgroundImage("off_pen.png");
    background-repeat: no-repeat;
}
.entryPlaygroundPainterToolboxPen:hover {
    .backgroundImage("on_pen.png");
}

.entryPlaygroundPainterToolboxLine {
    .backgroundImage("off_line.png");
}
.entryPlaygroundPainterToolboxLine:hover {
    .backgroundImage("on_line.png");
}

.entryPlaygroundPainterToolboxRect {
    .backgroundImage("off_square.png");
}
.entryPlaygroundPainterToolboxRect:hover {
    .backgroundImage("on_square.png");
}
.entryPlaygroundPainterToolboxCircle {
    .backgroundImage("off_circle.png");
}
.entryPlaygroundPainterToolboxCircle:hover {
    .backgroundImage("on_circle.png");
}

.entryPlaygroundPainterToolboxCursor {

}

.entryPlaygroundPainterToolboxSelect {

}
.entryPlaygroundPainterToolboxSelect:hover {
    .backgroundImage("on_choice.png");
}

.entryPlaygroundPainterToolboxText {
    .backgroundImage("off_text.png");
}
.entryPlaygroundPainterToolboxText:hover {
    .backgroundImage("on_text.png");
}

.entryPlaygroundPainterToolboxFill {
    .backgroundImage("off_paint.png");
}
.entryPlaygroundPainterToolboxFill:hover {
    .backgroundImage("on_paint.png");
}

.entryPlaygroundPainterToolboxErase {
    .backgroundImage("off_eraser.png");
}
.entryPlaygroundPainterToolboxErase:hover {
    .backgroundImage("on_eraser.png");
}
.entryPlaygroundPainterToolboxSelect {
    .backgroundImage("off_choice.png");
}

.entryPlaygroundPainterToolboxCoordinate {
    .backgroundImage("off_center.png");
}
.entryPlaygroundPainterToolboxCoordinate:hover {
    .backgroundImage("on_center.png");
}
.entryPlaygroundPainterToolboxGlasses {
    .backgroundImage("off_zoom.png");
}
.entryPlaygroundPainterToolboxGlasses:hover {
    .backgroundImage("on_zoom.png");
}
.entryPlaygroundPainterToolboxCursor {
    .backgroundImage("off_hand.png");
}
.entryPlaygroundPainterToolboxCursor:hover {
    .backgroundImage("on_hand.png");
}
.entryPlaygroundPainterAttrResizeX {
    position:absolute;
    top:17px;
    background-color: transparent;
    width:40px;
    height:40px;
    background-color: #643cd9;
    border-radius: 3px 3px 3px 3px;
}
.entryPlaygroundPainterAttrResizeXTop {
    width:40px;
    height:10px;
    border-radius: 3px 3px 0 0;
    background-color: #643cd9;
    padding: 0 0 0 3px ;
    font-size:11px;
    color: white;
}
.entryPlaygroundPainterAttrResizeXBottom {
    width:40px;
    height:10px;
    border-radius: 0 0 3px 3px;
    background-color: #aaa;
}
.entryPlaygroundPainterNumberInput{
    width:40px;
    height:20px;
    background-color: transparent;
    border:0px;
}

.entryPlaygroundPainterAttrResizeYTop {
    width:40px;
    height:10px;
    border-radius: 3px 3px 0 0;
    background-color: #643cd9;
    padding: 0 0 0 3px ;
    font-size:11px;
    color: white;
}
.entryPlaygroundPainterAttrResizeYBottom {
    width:40px;
    height:10px;
    border-radius: 0 0 3px 3px;
    background-color: #643cd9;
}
.entryPlaygroundPainterAttrResize {
    float: left;
    width: 100px;
}
.entryPlaygroundAttrReiszeY {
    position: absolute;
    top:17px;
    left:60px;
    width:40px;
    height:40px;
    background-color: #643cd9;
    border-radius: 3px;

}
.entryPlaygroundPainterspace{
    position:absolute;
    left:50px;
    top:35px;
    width:20px;
}
.entryPlaygroundPainterRotateArea{
    position:absolute;
    top:90px;
    left:19px;
    width: 40px;
    height:40px;
    background-color: #643cd9;
    border-radius: 3px;
}
.entryPlaygroundPainterRotateAreaTop{
    height: 10px;
    width: 20px;
}
.entryPlaygroundPainterRotateArea_{
    height: 10px;
    width: 40px;
}
.entryPlaygroundPainterNumberInput{
    height: 20px;
}

.entryPlaygroundPainterAttrOpacity{
    width: 40px;
    height: 40px;
}

.entryPlaygroundPainterAttyOpacityTop {
    width: 40px;
    height: 10px;
    color: white;
    padding-left:25px;
}

.entryPlaygroundPainterNumberInput {
    width:40px;
    height:20px;

}

.entryPlaygroundPainterRotateName {
    position:absolute;
    top:70px;
    left:20px;
}

.entryPlaygroundPainterOpacityName {
    position:absolute;
    top:70px;
    left:80px;
}

.paintAttrThickTop {
    width: 40px;
    height: 10px;
}   

.entryPlaygroundPainterAttrThickInput {
    width: 45px;
    height: 20px;
    background-color: transparent;
    border: 0px;
    color: white;
}
.entryPlaygroundPainterAttrThickInput option {
    color:black;
    border: 1px solid;
}

.entryPlaygroundPainterAttrThick {
    width: 45px;
    height: 40px;
}

.painterAttrBackgroundName {
    width: 45px;
    height: 20px;
    background-color: transparent;
    color: black;
    border:0px;
    position: absolute;
    top: 60px;
    font-size: 9pt;
}

.paintAttrBackgroundTop {
    position: absolute;
    top: 77px;
    left: 2px;
    background-color: #643cd9;
    border-radius: 3px;
    font-size: 11pt;
}

.painterAttrShapeLineColor {
    position: absolute;
    top: 18px;
    left: 154px;
    width: 40px;
    height: 40px;
    background-color: #000;
}

.painterAttrShapeBackgroundColor {
    position: absolute;
    top: -57px;
    left: 140px;
    width: 40px;
    height: 40px;
    background-color: #000;
}

.entryPlaygroundPainterAttrFGButton {
    .backgroundImage("square_on_in.png");
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    cursor: pointer;
}

.painterAttrShapeInnerBackground {
    width: 20px;
    height: 20px;
    background: #f5f5f5;
    margin: 10px;

}

.entryPlaygroundPainterAttrBGButton {
    .backgroundImage("square_off_out.png");
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    cursor: pointer;
}

.painterAttrColorSpoid {
    position: absolute;
    top:150px;
    left:330px;
    width:27px;
    height:27px;
    background-repeat: no-repeat;
    .backgroundImage("color_off_spoid.png");
}

.painterAttrColorSpoidClicked {
    position: absolute;
    top:150px;
    left:330px;
    width:27px;
    height:27px;
    background-repeat: no-repeat;
    .backgroundImage("color_on_spoid.png");
}

.painterAttrColorTransparent {
    position: absolute;
    top:150px;
    left:300px;
    width:27px;
    height:27px;
    background-repeat: no-repeat;
    .backgroundImage("color_off_spoid_1.png");
}

.painterAttrRotateName ,.painterAttrOpacityName  {
    position:absolute;
    background-color: transparent;
    margin-bottom: 0;
    border-bottom: 0;
    left: 2px;
    padding:2px;
    font-size:9pt;
}

.painterAttrThickName {
    position:absolute;
    background-color: transparent;
    margin-bottom: 0;
    border-bottom: 0;
    font-size:9pt;
    padding-top: 2px ;
}
.painterAttrRotateName{
    top:60px;
    left:9px;
    width:30px;
}

.painterAttrOpacityName{
    top:60px;
    left:65px;
    width:50px;
}
/*
.painterAttrThickName {
    top:115px;
    left:10px;
}
*/
.painterAttrCircleArea{
    position: absolute;
    left:150px;
    top:20px;
}

/*.painterInnerCircle {
    width: 20px;
    height: 20px;
    background: #000000;
    margin: 9px;
}*/

.painterAttrCircle {
    width: 40px;
    height: 40px;
    top: 13px;
    position: absolute;
    left: 5px;
    background-color: black;
}
.painterAttrCircleInput {
    position:absolute;
    top: 65px;
    width: 50px;
    height: 15px;
    font-size: 5pt;
}

.entryPlaygroundPainterAttrButtonGroup > div{
    position: absolute;
    top: 70px;
    width: 42px;
    height: 42px;
    background-color: #fff;
}

.entryPlaygroundPainterAttrFGButton {
    
    left: 0px;
}
.entryPlaygroundPainterAttrBGButton {
    left: 55px;
}
.btn_code, .btn_undo_workspace {
    margin-left: 15px;
}

.entryPlaygroundPictureOrder,
.entryPlaygroundSoundOrder {
    width: 15px;
    height: 100%;
    float: left;
    line-height: 57px;
    font-size: 10px;
    text-align: center;
    background-color: #d8d8d8;
}

.entryPictureSelected .entryPlaygroundPictureOrder {
    background-color: #634cd9;
    color: white;
}
.deleteChild> * {
    display: none;
}


.entryPlaygroundPainterAttrAddButton {
    .backgroundImage("fill_in.png");
}

.entryPlaygroundPainterAttrRemoveButton {
    .backgroundImage("fill_out.png");
}
.painterAttrColorSpoid:hover {
    .backgroundImage("color_on_spoid_1.png");
    background-repeat: no-repeat;
}

.displayPaintArea {
    display: none !important;
    position: absolute !important;
}

.displayOpacityArea {
    position:absolute;
    top:-56px;
    left:0px;

}
.displayThickArea {
    position:absolute;
    top:-112px;
    width:50px;
    left:0px;
}
.displayFontArea {
    position:absolute;
    top:0px;
    left:0px;
    font:9px;
}
.displayRotateArea{
    position:absolute;
    top:-56px;
    left:0px;
}
.entryPlaygroundPainterAttrLineStyle {
    position: absolute;
    top: 140px;
    left: 230px;
    background-repeat: no-repeat;
}
.entryPlaygroundPainterAttrLineStyle:hover {
    background-repeat: no-repeat;
}
.entryPlaygroundPainterAttrLineStyleLine {
    position: absolute;
    top: 10px;
    .backgroundImage("line1_category_off.png");
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    width: 76px;
    height: 24px;
}
.entryPlaygroundPainterAttrLineStyleLine:hover {
    .backgroundImage("line1_category_on.png");
    background-repeat: no-repeat;
}

.entryPlaygroundPainterAttrLineStyleDot1 {
    position: absolute;
    top: -9px;
    left:1px;
    .backgroundImage("line2_off.png");
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    width: 75px;
    height: 20px;
}
.entryPlaygroundPainterAttrLineStyleDot1:hover {
    .backgroundImage("line2_on.png");
    background-repeat: no-repeat;
}

.entryPlaygroundPainterAttrLineStyleDot2 {
    position: absolute;
    top: -29px;
    left:1px;
    .backgroundImage("line3_off.png");
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    width: 75px;
    height: 20px;
}
.entryPlaygroundPainterAttrLineStyleDot2:hover {
    .backgroundImage("line3_on.png");
    background-repeat: no-repeat;
}
.entryPlaygroundPainterAttrLineStyleDot3 {
    position: absolute;
    top: -48px;
    left:1px;
    .backgroundImage("line4_off.png");
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    width: 75px;
    height: 19px;
}
.entryPlaygroundPainterAttrLineStyleDot3:hover {
    .backgroundImage("line4_on.png");
    background-repeat: no-repeat;
}
.entryPlaygroundPainterAttrLineStyleLine1 {
    position: absolute;
    top: -67px;
    left:1px;
    .backgroundImage("line1_off.png");
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    width: 75px;
    height: 19px;
    border-radius: 4px;
}
.entryPlaygroundPainterAttrLineStyleLine1:hover {
     .backgroundImage("line1_on.png");
    background-repeat: no-repeat;
}
.painterAttrLineStyleBackgroundDot1, .painterAttrLineStyleBackgroundDot2, .painterAttrLineStyleBackgroundDot3,.painterAttrLineStyleBackgroundLine{

     position: absolute;
    top: 10px;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    width: 76px;
    height: 21px;
}
.painterAttrLineStyleBackgroundDot1 {
    .backgroundImage("line2_category_off.png");
}
.painterAttrLineStyleBackgroundDot2 {
    .backgroundImage("line3_category_off.png");
}
.painterAttrLineStyleBackgroundDot3 {
    .backgroundImage("line4_category_off.png");
}
.painterAttrLineStyleBackgroundLine {
    .backgroundImage("line1_category_off_1.png");
}
.painterAttrLineStyleBackgroundDot1:hover {
    .backgroundImage("line2_category_on.png");
    background-repeat: no-repeat;
}
.painterAttrLineStyleBackgroundDot2:hover {
    .backgroundImage("line3_category_on.png");
    background-repeat: no-repeat;
}

.painterAttrLineStyleBackgroundDot3:hover {
    .backgroundImage("line4_category_on.png");
    background-repeat: no-repeat;
}
.painterAttrLineStyleBackgroundLine:hover {
    .backgroundImage("line1_category_on_1.png");
    background-repeat: no-repeat;
}
.entryToolboxCursorClicked {
    .backgroundImage("on_hand_1.png");
}
.entryToolboxSelectClicked {
    .backgroundImage("on_choice_1.png");
}
.entryToolboxPenClicked {
    .backgroundImage("on_pen_1.png");
}
.entryToolboxLineClicked {
    .backgroundImage("on_line_1.png");
}
.entryToolboxRectClicked {
    .backgroundImage("on_square_1.png");
}
.entryToolBoxCircleClicked {
    .backgroundImage("on_circle_1.png");
}
.entryToolBoxTextClicked {
    .backgroundImage("on_text_1.png");
}
.entryToolBoxFillClicked {
    .backgroundImage("on_paint_1.png");
} 
.entryToolBoxEraseClicked {
    .backgroundImage("on_eraser_1.png");
}

.dd {
    cursor:url("@{image_url}cursor_eraser.cur");
}
/* helper */
@keyframes blockHelperUp {
    0%  {top: 100%;}
    100%{top: 0%;}
}

@-o-keyframes blockHelperUp {
    0%  {top: 100%;}
    100%{top: 0%;}
}

@-ms-keyframes blockHelperUp {
    0%  {top: 100%;}
    100%{top: 0%;}
}

@-moz-keyframes blockHelperUp {
    0%  {top: 100%;}
    100%{top: 0%;}
}

@-webkit-keyframes blockHelperUp {
    0%  {top: 100%;}
    100%{top: 0%;}
}

@keyframes blockHelperDown {
    0%  {top: 0%;}
    100%{top: 100%;}
}

@-o-keyframes blockHelperDown {
    0%  {top: 0%;}
    100%{top: 100%;}
}

@-ms-keyframes blockHelperDown {
    0%  {top: 0%;}
    100%{top: 100%;}
}

@-moz-keyframes blockHelperDown {
    0%  {top: 0%;}
    100%{top: 100%;}
}

@-webkit-keyframes blockHelperDown {
    0%  {top: 0%;}
    100%{top: 100%;}
}

#entryBlockHelperWorkspace {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    .animation-name(blockHelperUp);
    .animation-duration(0.6s);
}

#entryBlockHelperWorkspace.lecture {
    .animation-duration(0.0s);
}

#entryBlockHelperWorkspace.dispose {
    .animation-name(blockHelperDown);
}

#entryBlockHelperHeaderWorkspace {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: #1bafea;
    font-size: 16px;
    line-height: 38px;
    padding-left: 28px;
    color: #fff;
}

#entryBlockHelperDisposeWorkspace {
    float: right;
    .backgroundImage("block_helper_dispose.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
    margin-top: 4px;
    margin-right: 5px;
}

#entryBlockHelperContentWorkspace {
    position: absolute;
    width: 100%;
    top: 40px;
    bottom: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

#entryBlockHelperContentWorkspace.lecture {
    top: 0px;
}

.entryBlockHelperIntro {
    .backgroundImage("block_help_icon.png");
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: 28px;
    padding-top: 100px;
    text-align: center;
    color: #707070;
    font-size: 12px;
}

#entryBlockHelpBtn {
    position: absolute;
    .backgroundImage("block_help.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
    margin-top: 3px;
    margin-left: 6px;
    z-index: 100;
}

#entryBlockHelperBlockWorkspace {
    position: absolute;
    width: 400px;
    height: 160px;
    top: 16px;
    left: 50%;
}

#entryBlockHelperBlockWorkspace>svg {
    position: relative; left: -50%;
}

#entryBlockHelperDescriptionWorkspace {
    position: absolute;
    line-height: 20px;
    width: 100%;
    top: 100px;
    font-size: 13px;
    color: #707074;
    padding: 0 50px;
}

.entryPlaygroundPainterTopMenuEdit>ul>li {
    list-style-type: none;
    width:120px;
}

.entryPlaygroundPainterTopMenuFile>ul>li {
    list-style-type: none;
    width:120px;
}

.entryPlaygroundPainterTopMenu>ul{
    position:absolute;
    top:5px;
}
.entryPainterTopMenuEditImport {
    height: 40px;
}

.entryVariableSettingWorkspace {
    width: 100%;
    height: 165px;
    border-top: 1px solid #a8a8a8;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 11px;
    background-color: #efefef;
}

.entryVariableSettingVisibleWrapperWorkspace {
    padding-top: 22px;
    cursor: pointer;
}

.entryVariableSettingCheckWorkspace {
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    left: 90px;
    margin-top: 2px;
    border: 1px solid gray;
    color: #5e5e5e;
}

.entryVariableAddSpaceCheckWorkspace.entryVariableAddChecked,
.entryVariableSettingCheckWorkspace.entryVariableSettingChecked {
    background-color: gray;
}

.entryVariableSettingInitValueWrapperWorkspace,
.entryVariableSettingSlideWrapperWorkspace,
.entryVariableSettingMinMaxWrapperWorkspace {
    margin-top: 12px;
}

.entryVariableSettingSlideWrapperWorkspace {
    cursor: pointer;
}

.entryVariableMinMaxDisabledWorkspace.entryVariableSettingMinMaxWrapperWorkspace {
    color: #a8a8a8;
}

.entryVariableSettingInitValueInputWorkspace {
    margin-left: 33px;
    border: 2px solid #a8a8a8;
    padding-left: 5px;
    width: 65%;
}

.entryVariableSettingSplitterWorkspace {
    width: 100%;
    height: 1px;
    background-color: #a8a8a8;
    margin-top: 16px;
}

.entryVariableSettingMinValueInputWorkspace, 
.entryVariableSettingMaxValueInputWorkspace {
    margin-left: 3px;
    width: 22%;
    border: 1px solid #afafaf;
    padding-left: 5px;
}

.entryVariableSettingMinValueInputWorkspace:disabled, 
.entryVariableSettingMaxValueInputWorkspace:disabled {
    background-color: #d3d3d3;
}

.entryVariableSettingMaxValueSpanWorkspace {
    margin-left: 5px;
}

.entryVariableSettingButtonWrapperWorkspace {
    margin-top: 18px;
}

.entryVariableListElementWrapperWorkspace {
    width: 100%;
    height: 50px;
}


.entryListSettingWorkspace {
    width: 100%;
    padding-top: 24px;
    padding-bottom: 5px;
    border-top: 1px solid #a8a8a8;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 13px;
    background-color: #efefef;
}

.entryListSettingVisibleWrapperWorkspace {
    cursor: pointer;
}

.entryListSettingCheckWorkspace {
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    left: 103px;
    margin-top: 4px;
    border: 1px solid gray;
    color: #5e5e5e;
}

.entryListSettingCheckedWorkspace {
    background-color: gray;
}

.entryListSettingLengthWrapperWorkspace {
    margin-top: 15px;
    overflow: hidden;
}

.entryListSettingLengthControllerWorkspace {
    margin-left: 5px;
    height: 23px;
    display: inline-block;
    position: relative;
}

.entryListSettingLengthSpanWorkspace {
    float: left;
    margin-top: 2px;
}

.entryListSettingMinusWorkspace {
    width: 23px;
    height: 23px;
    float: left;
    .backgroundImage("list_minus.png");
    cursor: pointer;
}

.entryListSettingLengthInputWorkspace {
    float: left;
    height: 23px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    border: 2px solid #a8a8a8;
    width: 60px;
}

.entryListSettingLengthInputWorkspace:focus {
    border: 2px solid #1bafea;
    outline: none;
}

.entryListSettingPlusWorkspace {
    width: 23px;
    height: 23px;
    float: left;
    .backgroundImage("list_plus.png");
    cursor: pointer;
}

.entryListSettingSeperatorWorkspace {
    height: 1px;
    background-color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.entryListSettingListValuesWorkspace {
    padding-left: 15px;
    color: #a8a8a8;
}

.entryListSettingValueWrapperWorkspace {
    margin-bottom: 10px;
    overflow: hidden;
}

.entryListSettingEachInputWorkspace {
    border: 2px solid #a8a8a8;
    width: 130px;
    float: left;
    padding-left: 5px;
}

.entryListSettingEachInputWorkspace:focus {
    border: 2px solid #1baefa;
    outline: none;
}

.entryListSettingValueNumberSpanWorkspace {
    width: 20px;
    display: inline-block;
    float: left;
    margin-top: 3px;
}

.entryListSettingValueRemoveWorkspace {
    display: inline-block;
    width: 16px;
    height: 16px;
    float: right;
    margin-right: 10px;
    margin-top: 4px;
    cursor: pointer;
    .backgroundImage("list_remove_button.png");
}

.entryEngineBigButtonMinimize_popup {
    border: none;
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    width: 111px;
    height: 111px;
    margin-left: -55.5px;
    top: 50%;
    margin-top: -55.5px;
    background-repeat: no-repeat;
    background-position: 40px center;
    background-color: rgba(0,0,0,0.5);
    border-radius: 55px;
}

.entryEngineBigButtonMinimize_popup:hover {
    opacity: 0.8;
}

.entryEngineBigButtonMinimize_popup:focus {
    outline: none;
}

.entryEngineBigButtonMinimize_popup.entryEngineBigButtonMinimize_popup_run {
    .backgroundImage("play_btn.png");
}

.entryPopupWindow .entryEngineBigButtonMinimize_popup {
    display: block;
}

.entryContainerTabViewWorkspace {
    width: 100%;
    height: 45px;
    border-bottom: 2px solid #1bafea;
}

.entryContainerTabItemWorkspace {
    vertical-align: top;
    height: 100%;
    width: 25%;
    text-align: center;
    display: inline-block;
    background-color: rgb(229, 229, 229);
    color: rgb(158,159,159);
    font-size: 13px;
    cursor: pointer;
    padding-top: 13px;
}

.entryContainerTabItemWorkspace:nth-child(2) {
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.entryContainerTabItemWorkspace:nth-child(3) {
    border-right: 2px solid white;
}

.entryContainerTabItemWorkspace.selected {
    background-color: #1bafea;
    color: white;
}

.entryContainerListWorkspaceWrapper.lecture {
    top: 45px;
}

.entryContainerMovieWorkspace {
    position: absolute;
    width: 100%;
    top: 45px;
    bottom: 0px;
    background-color: #363C46;
    z-index: 1000;
    overflow: scroll;
}
.entryContainerMovieWorkspace::-webkit-scrollbar {
    display: none;
}

.entryContainerDoneWorkspace {
    position: absolute;
    width: 100%;
    top: 45px;
    bottom: 0;
    background-color: #363C46;
    z-index: 1000;
    overflow: hidden;
    text-align: center;
}


.entryContainerHelperWorkspace {
    position: absolute;
    width: 100%;
    top: 45px;
    bottom: 0;
    background-color: #fff;
    z-index: 1000;
    background: gray;
}

.entryPlayground_text_buttons {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.entryPlayground_text_buttons > li {
    float: left;
    width: 32px;
    height: 32px;
    margin-left: 2px;
    cursor: pointer;
}

.entryPlaygroundTextAlignLeft {
    .backgroundImage("text_align_left_off.png");
}
.entryPlaygroundTextAlignLeft.toggle {
    .backgroundImage("text_align_left_on.png");
}

.entryPlaygroundTextAlignCenter {
    .backgroundImage("text_align_center_off.png");
}
.entryPlaygroundTextAlignCenter.toggle {
    .backgroundImage("text_align_center_on.png");
}

.entryPlaygroundTextAlignRight {
    .backgroundImage("text_align_right_off.png");
}
.entryPlaygroundTextAlignRight.toggle {
    .backgroundImage("text_align_right_on.png");
}

.entryPlayground_fgColorDiv {
    position: absolute;
    width: 15px;
    height: 4px;
    margin-top: -15px;
    margin-left: 345px;
}

.entryPlayground_bgColorDiv {
    position: absolute;
    width: 15px;
    height: 4px;
    margin-top: -15px;
    margin-left: 379px;
}
.entryPlayground_textBox {
    margin-top: 5px;
    height: 33px;
    width: 400px;
}
.entryPlayground_textArea {
    margin-top: 5px;
    height: 120px;
    width: 400px;
    resize: none;
}

.entryPlaygroundFontSizeWrapper {
    width: 400px;
    height: 39px;
}

.entryPlaygroundFontSizeLabel {
    display: inline-block;
    float: right;
    font-size: 9px;
    font-family: notoSansMedium;
    color: #444;
    line-height: 39px;
}

.entryPlaygroundFontSizeSlider {
    display: inline-block;
    float: right;
    width: 96px;
    height: 3px;
    margin: 18px 0px 18px 4px;
    background-color: #cfcfcf;
    border-radius: 1.5px;
}

.entryPlaygroundFontSizeIndicator {
    height: 100%;
    width: 45%;
    background-color: #643cd9;
}

.entryPlaygroundFontSizeKnob {
    width: 16px; height: 16px;
    position: relative;
    margin-top: -10px;
    margin-left: -7px;
    .backgroundImage("text_size_knob.png");
    cursor: pointer;
}

.entryPlaygroundTextColoursWrapper {
    width : 260px;
    height: 226px;
    z-index: 10;
    cursor: pointer;
    margin-top: -5px;
    margin-left: 335px;
    padding: 20px 5px;
    position: absolute;
    .backgroundImage("text_color_bg.png");
    background-repeat: no-repeat;
    background-size: 260px 226px;
}
.entryPlaygroundTextBackgroundsWrapper {
    width : 260px;
    height: 226px;
    z-index: 10;
    cursor: pointer;
    margin-top: -5px;
    margin-left: 369px;
    padding: 20px 5px;
    position: absolute;
    .backgroundImage("text_color_bg_1.png");
    background-repeat: no-repeat;
    background-size: 260px 226px;
}


.entryPlaygroundLinebreakWrapper {
    position: fixed;
    top: 351px;
}

.entryPlaygroundLinebreakButtons {
    display: inline;
    font-size:0;
    img {
        cursor: pointer;
    }
}

.entryPlaygroundLinebreakHorizontal {
    display: block;
    border-top: 1px solid #808080;
    margin: 0 0 12px 0;
    padding: 0;
    width: 260px;
}

.entryPlaygroundLinebreakDescription {
    margin-top: 12px;
    p {
        color: #8888;
        font-size: 11px;
        margin-bottom: 5px;
    }

    ul {
        padding-left: 20px;
        li {
            color: #B4B4B5;
            font-size: 11px;
        }
    }
}



#entry-contextmenu.workspace-contextmenu {
    position: fixed;
    background-color: white;
    display: inline-block;
    list-style: none;
    padding: 4px 0;
    border-color: #ccc #666 #666 #ccc;
    border-style: solid;
    border-width: 1px;
    outline: none;
    font-size: 14px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    min-width: 160px;
    border-radius: 4px;
    background-clip: padding-box;
    color: #262626;
    .menuAble {
        padding: 3px 20px;
    }
    .menuAble:hover {
        color: white;
        background-color: #57e;
    }
    .menuDisable {
        color: #ccc;
        padding: 3px 20px;
    }
}
